body {
  background-color: lightgray;
  font-family: Arial;
  text-align: center;
}

h1 {
 color: darkslategray;
}

video {
  margin: auto;
  display: block;
  border-radius: 15px;
  box-shadow: 4px 4px 12px gray;
}
